* {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 15px;
}

.app {
    width: 500px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);

}

.title {
    display: flex;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}

.main {
    background-color: white;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    border: 1px solid lightgrey;
    height: 50px;
}

.todo div {
    display: flex;
    flex-direction: row;
}

.todo_checkbox_container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.todo_title_container {
    display: flex;
    align-items: center;
    padding: 5px;
}

.bottom_menu_top {
    display: flex;
    align-items: center;
    padding: 3px;
}

.text_counting {
    display: flex;
    flex-direction: row;
}

.input_bar {
    display: flex;
    background-color: white;
}

.input_bar * {
    display: flex;
    outline: none;
}

.btn {
    padding: 3px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
}

.current_btn {
    border: 2px solid black;
}

.btn_delete {
    background-color: transparent;
    border: 0;
}

.no_visible {
    display: none;
}

.btnToggleAll {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 0;
}

.inputTitle {
    width: 100%;
    border: 0;
    font-size: 24px;
    padding: 15px;
}

.desc_counter {
    margin-left: 2px; 
    margin-right: 2px;
}

.btn_complete {
    width: 100%;
}

.icon_toggle {
    font-size: 24px;
}