* {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.app {
    width: 500px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}

.main {
    background-color: white;
}

.todo {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    min-height: 70px;
}

.todo_checkbox_container {
    display: flex;
    align-items: center;
}

.todo_title_container {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 5px;
}

.text_counting {
    display: flex;
    flex-direction: row;
}

.input_bar {
    display: flex;
    background-color: white;
    box-shadow: 0px 1px rgba(0,0,0,0.1);
    border-bottom: 1px solid lightgray;
}

.input_bar * {
    display: flex;
    outline: none;
}

.btn {
    padding: 3px;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.current_btn {
    border: 1px solid lightgray;
}

.btn_delete {
    background-color: transparent;
    border: 0;
    color: red;
}

.no_visible {
    visibility: hidden;
}

.btnToggleAll {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 0;
}

.inputTitle {
    width: 100%;
    border: 0;
    font-size: 24px;
    padding: 15px;
}

.inputTitle::placeholder {
    color: lightgray;
    font-style: italic;
}

.desc_counter {
    margin-left: 2px;
    margin-right: 2px;
}

.btn_complete {
    width: 100%;
}

.icon_toggle {
    font-size: 24px;
}

.bottom_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
    border-top: 1px solid lightgray;

}

.todo_title {
    display: flex;
    font-size: 24px;
    word-break: break-all;
}

.checkbox_status {
    text-align: center;
    width: 40px;
    height: 35px;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center left;
    outline: none;
    appearance: none;
}

.checkbox_status:checked {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.input_edit {
    outline: none;
    box-sizing: border-box;
    font-size: 24px;
    border: none;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.10);
    width: 100%;
    padding: 10px 0 10px 10px;
    display: flex;
}

.todo_left_flexbox {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.todo_right_flexbox {
    display: flex;
    right: 0;
}

.btn_delete {
    font-size: 24px;
    padding: 10px;
    outline: none;
}

.input_edit_container {
    display: flex;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: azure;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.log_out {
    background-color: #FF7F50;
    padding: 10px;
    outline: none;
    border-radius: 40%;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.log_out:active {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.10),
    0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    padding: 5px;
}

.logo_img {
    object-fit: contain;
    width: 150px;
}

.login {
    padding: 0 5px 0 2px;
    font-weight: bold;
}
